# Project Three Notebook Example

For your final notebook, feel free to duplicate this notebook and edit as needed. 


## Load Some Stuff

This is where we load libraires and the like so we can do what we need. If you get an error saying a module is not loaded, open a new terminal/cmd line and try running: `pip install [module name]`.

In [7]:
import os
try:
    inputFunc = raw_input
except NameError:
    inputFunc = input

import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import numpy as np
 
import seaborn as sns
from statsmodels.formula.api import ols

from sklearn import linear_model
from sklearn import metrics

from sklearn.linear_model import LogisticRegression
from patsy import dmatrices

import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt

import random



# Custom functions

def evaluate(pred, labels_test):
    acc = accuracy_score(pred, labels_test)
    print ("Accuracey: %s"%acc)
    tn, fp, fn, tp = confusion_matrix(labels_test, pred).ravel()

    recall = tp / (tp + fp)
    percision = tp / (tp + fn)
    f1 = (2 / ((1/recall)+(1/percision)))

    print ("")
    print ("True Negatives: %s"%tn)
    print ("False Positives: %s"%fp)
    print ("False Negatives: %s"%fn)
    print ("True Positives: %s"%tp)
    print ("Recall: %s"%recall)
    print ("Precision: %s"%percision)
    print ("F1 Score: %s"%f1)

def plot_bound(Z_val,data,col1,col2,binary):
    # Z-val equals "Yes" value. E.g., "Y" or "1". 
    # data equals df
    # col1 and col2 defines which colums to use from data
    # Plot binary decision boundary. 
    # For this, we will assign a color to each
    # point in the mesh [x_min, m_max]x[y_min, y_max].
    
    x_min = float(data.iloc[:,[col1]].min())-float(data.iloc[:,[col1]].min())*0.10 
    x_max = float(data.iloc[:,[col1]].max()+float(data.iloc[:,[col1]].min())*0.10)
    y_min = 0.0; 
    y_max = float(training.iloc[:,[col2]].max())+float(training.iloc[:,[col2]].max())*0.10
    h_x = (x_max-x_min)/100  # step size in the mesh
    h_y = (y_max-y_min)/100  # step size in the mesh
    xx, yy = np.meshgrid(np.arange(x_min, x_max, h_x), np.arange(y_min, y_max, h_y))
    if binary == 1:
        Z = clf.predict(np.c_[xx.ravel(), yy.ravel()])   
        Z = np.where(Z=="Y",1,0)
    else:
        Z = clf.predict_proba(np.c_[xx.ravel(), yy.ravel()])[:, 1]
    # Put the result into a color plot
    Z = Z.reshape(xx.shape)
    plt.xlim(xx.min(), xx.max())
    plt.ylim(yy.min(), yy.max())
    plt.pcolormesh(xx, yy, Z)
    plt.show()

## Data Cleaning

Here we load the data we collected and get it all ready to feed to our statistical model(s). That is, we are trying to make a table with one **target** column and one or more **features**. Here I'm loading happiness.csv from: https://data.somervillema.gov/Happiness/Somerville-Happiness-Survey-responses-2011-2013-20/w898-3dfm Note: you can find information on the data elements at this link.

In [8]:
# Load and peek at your data. Change the file name as needed. 
raw_data_df = pd.read_csv('911.csv', parse_dates=[0]) 
raw_data_df.head()

        Year  Month  Total   BPD  BFD  EMS
0 2010-01-01     11   2603  1969  259  375
1 2010-01-01     11   2414  1852  206  356
2 2010-01-01     11   2487  1872  235  380
3 2010-01-01     11   2328  1695  241  392
4 2010-01-01     11   2478  1915  225  338

In [9]:
# You can explore unique entires by stating the column and using .unique() like this:
print(raw_data_df["Month"].unique())
print(raw_data_df["Total"].unique())

[11 12  1  2  3  4  5  6  7  8  9 10]
[2603 2414 2487 2328 2478 2297 2113 2542 2523 2496 2108 2665 2443 2136 2367
 2500 2463 2533 2631 2324 2020 2431 2489 2217 1413 1935 2080 1862 2318 2400
 2497 2483 2577 2176 1985 2198 2306 2394 2447 2248 1910 2311 2289 2334 2232
 2504 2267 1959 2646 2355 2456 2302 1787 1086 1533 2228 2215 2237 2291 2517
 1796 2258 2348 2195 2449 1878 1779 2229 2410 2975 2383 1895 1992 2526 2653
 2614 2200 2308 2213 2561 2684 2432 2530 2787 2492 2226 2616 2507 2675 2833
 2506 2230 2750 2593 2582 2584 2642 2359 2196 2574 2571 2832 2404 2011 2079
 2336 2397 2335 2345 1886 2409 2625 2454 2471 2553 2520 2175 2479 2403 2617
 2030 2442 2354 2635 2836 2325 2339 2575 2285 1993 2480 2588 2485 2509 2392
 2234 2448 2619 2583 2590 2615 2559 2199 2649 2462 2294 2589 2651 2194 2387
 2301 2424 1978 2634 2726 2989 2562 2630 2606 2691 2946 2560 2641 2624 3256
 2993 2499 2116 2426 2436 2643 2799 2925 2511 2550 2850 2965 2908 3034 2441
 2287 2764 2820 2740 2868 2676 2365 2704 2849 2738 2190 2690 2748 2707 2922
 2259 2752 2508 2429 2564 2391 2679 2902 2834 2808 2903 2737 2647 2974 3040
 2777 2867 2586 2776 2749 2481 2758 2807 3055 2733 2374 2549 2687 2725 2886
 2678 2715 2428 2727 2667 2876 2613 2192 2747 2873 2760 2585 2233 2353 2677
 2813 2372 2618 2884 3150 2800 2797 2789 2260 2524 2701 3036 3005 2757 2872
 2981 2689 2411 2724 2573 2914 2961 2930 2791 2817 2907 2774 2344 2633 2772
 2761 2393 2490 2622 2620 2711 2923 2720 2778 2795 2604 2721 2654 2731 2602
 2973 2545 2710 2627 2714 2664 2839 2505 2304 2753 2503 2468 2611 2580 2534
 2621 2552 2495 2567 2408 1435 2174 2087 2605 2934 2221 2713 2437 2110 2435
 2112 2510 2594 2695 1867 1361 1865 2337 2250 2644 2077 2491 2656 3253 2716
 2189 2438 2794 2673 2124 2744 2756 2692 2843 2205 2822 2486 2666 2763 2806
 2682 2835 2482 2273 2648 2751 2838 2440 2254 2681 2636 2768 2818 2600 2349
 2340 2767 2735 2668 2558 2639 2844 2655 2897 2548 2295 2953 3065 2863 3044
 2968 2928 3137 3019 2719 2251 2821 2856 2723 2957 2551 2330 2792 3002 2997
 2181 3209 3154 2977 3144 3347 3046 2936 3060 2978 2845 2892 2755 2531 2890
 2851 3018 2909 2955 3050 3116 2706 3000 2828 3080 2963 2657 2986 2992 3041
 3091 3156 3013 2685 2599 3162 3210 3330 3261 2730 3128 3101 3135 2899 2998
 2881 3284 3054 3051 3314 3379 3164 3031 2904 3039 3073 3153 2980 3424 3640
 3478 3131 3011 2984 2964 3072 3017 2885 2645 3001 2926 3170 3163 2814 2877
 3130 3085 3121 2869 2841 3159 3272 3004 2952 2938 3098 2931 2878 3053 3030
 3125 2935 3003 3029 2962 2861 3095 3103 3198 3404 3086 3028 3278 3306 3134
 2798 3118 3276 3084 2693 3237 3160 3158 3112 2672 2906 3066 3373 3052 3110
 3010 2805 2476 3070 3197 2816 3020 2966 3205 2932 2996 2785 2416 2592 2859
 3081 2773 2538 2921 2889 2880 3045 2475 2940 1611 2381 2225 2883 2823 2722
 2983 2862 2745 2910 2911 2990 3120 2729 2331 2809 3043 3021 2527 2243 2282
 1488 2148 2688 2698 2771 2941 2540 2879 2905 2811 2855 2959 2699 2924 2455
 2314 2927 2842 2728 2775 3083 2937 2888 2298 2419 2111 2661 2658 2418 2674
 2671 2598 2452 2784 2430 3105 3047 2303 2901 2788 2541 2960 2898 2680 2765
 2612 3087 2857 3035 3119 2999 3174 2477 3235 2912 3229 2694 3161 3024 3025
 3194 3190 3069 2732 3187 3096 3061 2608 2581 3390 3470 3206 3193 3265 3317
 3180 3015 3402 3064 2860 3252 3115 2915 3123 2810 3280 3346 3292 2976 3037
 3077 3273 3556 3413 3189 2933 3211 3092 3351 3376 3490 2970 2950 3350 3007
 3132 2782 3042 3245 3308 3114 3234 3056 3049 3122 3257 3106 3221 2944 3466
 3143 3228 3022 3426 3167 3094 3136 3231 3139 2840 2979 2597 3117 3155 3307
 2994 2743 2556 2951 2948 2988 2939 2824 2919 2461 2754 3271 2515 2967 2958
 2384 2796 2660 2864 2985 2578 2317 2705 2870 1574 2819 3111 3151 2579 2358
 2434 2319 1474 2313 2160 2837 2893 2388 2853 2918 2427 2801 2917 2987 2283
 2848 2686 2493 2971 2623 2450 2830 2368 2827 2347 3012 2465 3063 3244 3099
 2875]

In [14]:
# You can explore rows with a specific value like so
raw_data_df[raw_data_df["Total"]>3000] # remove .head() to see all entires

           Year  Month  Total   BPD  BFD  EMS
192  2011-01-01      5   3256  2672  218  366
207  2011-01-01      5   3034  2286  298  450
246  2011-01-01      7   3040  2325  292  423
263  2011-01-01      7   3055  2190  354  511
300  2011-01-01      8   3150  2148  671  331
312  2011-01-01      9   3036  2361  271  404
313  2011-01-01      9   3005  2281  280  444
430  2012-01-01      1   3253  2646  241  366
493  2012-01-01      3   3034  2417  219  398
498  2012-01-01      3   3065  2321  303  441
502  2012-01-01      3   3044  2337  263  444
507  2012-01-01      3   3137  2477  238  422
508  2012-01-01      3   3019  2392  226  401
519  2012-01-01      4   3019  2381  252  386
520  2012-01-01      4   3002  2385  215  402
526  2012-01-01      4   3209  2565  239  405
527  2012-01-01      4   3154  2589  224  341
529  2012-01-01      4   3144  2485  238  421
532  2012-01-01      4   3347  2356  316  675
533  2012-01-01      4   3046  2401  253  392
536  2012-01-01      4   3060  2407  272  381
543  2012-01-01      4   3040  2398  248  394
550  2012-01-01      5   3018  2374  253  391
557  2012-01-01      5   3050  2502  197  351
558  2012-01-01      5   3116  2448  236  432
562  2012-01-01      5   3050  2447  228  375
563  2012-01-01      5   3080  2457  238  385
564  2012-01-01      5   3137  2534  211  392
569  2012-01-01      5   3041  2470  214  357
570  2012-01-01      5   3091  2475  232  384
...         ...    ...    ...   ...  ...  ...
1071 2013-01-01     10   3083  2329  298  456
1072 2013-01-01     10   3307  2595  257  455
1075 2013-01-01     10   3044  2424  215  405
1082 2013-01-01     10   3101  2465  217  419
1089 2013-01-01     10   3040  2420  222  398
1096 2013-01-01     11   3271  2530  281  460
1110 2013-01-01     11   3042  2335  250  457
1129 2013-01-01     12   3040  2350  250  440
1130 2013-01-01     12   3111  2427  261  423
1131 2013-01-01     12   3151  2449  246  456
1144 2013-01-01     12   3051  2435  221  395
1145 2013-01-01     12   3106  2373  299  434
1187 2014-01-01      1   3066  2412  233  421
1191 2014-01-01      2   3049  2382  241  426
1208 2014-01-01      2   3013  2315  264  434
1209 2014-01-01      2   3004  2302  233  469
1220 2014-01-01      3   3012  2345  268  399
1221 2014-01-01      3   3021  2402  216  403
1229 2014-01-01      3   3053  2459  194  400
1236 2014-01-01      3   3001  2374  216  411
1247 2014-01-01      4   3018  2420  189  409
1250 2014-01-01      4   3086  2421  231  434
1254 2014-01-01      4   3063  2351  262  450
1255 2014-01-01      4   3007  2388  206  413
1256 2014-01-01      4   3024  2363  230  431
1257 2014-01-01      4   3150  2448  252  450
1258 2014-01-01      4   3101  2424  243  434
1260 2014-01-01      4   3244  2541  269  434
1261 2014-01-01      4   3099  2456  233  410
1263 2014-01-01      4   3051  2383  245  423

[273 rows x 6 columns]

In [15]:
# You can count the number of rows like so
print("Size of entire table: %s "%len(raw_data_df))
print("Size of entires matching filter: %s "%len(raw_data_df[raw_data_df["Total"]>3000]))

Size of entire table: 1268
Size of entires matching filter: 273

In [ ]:
# You can invert a match by using the 'not equal' evaluation.
print("Size of entires matching filter: %s "%len(raw_data_df[raw_data_df["What.is.your.annual.household.income."]!='R']))
raw_data_df[raw_data_df["What.is.your.annual.household.income."]!='R'].head()

In [ ]:
# You can make a new table from your filtered rows like so
processed_data_df = raw_data_df[raw_data_df["What.is.your.annual.household.income."]!='R']
processed_data_df = processed_data_df[processed_data_df["Age."]!='R']
# Note how I filtered first on raw_data_df and then on processed_data_df

# Now let's remove all students
processed_data_df = processed_data_df[processed_data_df["Are.you.a.student."]!='Yes']

# So how many entires are there?
print("Size of entire table: %s "%len(processed_data_df))
# Let's peak at the table.
processed_data_df.head()

In [ ]:
# for the special case of when a calue is NaN, you can filter based on the value not being null (i.e., empty)
processed_data_df = processed_data_df[pd.notnull(processed_data_df["What.is.your.annual.household.income."])]
processed_data_df = processed_data_df[pd.notnull(processed_data_df["Age."])]
print("Size of entire table: %s "%len(processed_data_df)) # in the example data, this gets rid of a few rows
processed_data_df.head()

In [ ]:
# You can remove unwanted colums like so
# for a single column
processed_data_df = processed_data_df.drop('In.general..how.similar.are.you.to.other.people.you.know._2011', 1)
# for multiple columns
processed_data_df = processed_data_df.drop([
                                            'How.satisfied.are.you.with.Somerville.as.a.place.to.live.',
                                            'How.satisfied.are.you.with.your.neighborhood.'
                                           ], 1)
processed_data_df.head()

In [ ]:
# Alternativly, if you want to make a new table from a subset of columns, you can do so like this.
processed_data_df = processed_data_df[[
                                        'How.happy.do.you.feel.right.now.', 
                                        'How.satisfied.are.you.with.your.life.in.general.', 
                                        'What.is.your.annual.household.income.',
                                        'Age.'
                                     ]].copy()
processed_data_df.head()

In [ ]:
# You can rename columns like so.
processed_data_df = processed_data_df.rename(columns={
                                                        'How.happy.do.you.feel.right.now.': 'happy', 
                                                        'How.satisfied.are.you.with.your.life.in.general.': 'satisfied',
                                                        'What.is.your.annual.household.income.': 'income',
                                                        'Age.': 'age',
                                                     })
processed_data_df.head()

In [ ]:
# You can replace values in a column based on logic like so
# Note: I used the unique values found above to inform my logic.
# That is, I took the unique text lables and translated them into numbers.
# It's clear that different surveys had different buckets. So I probably 
# sould limit myself to years using the same metrics, but for our purposes
# I'm just going to run with a quick and dirty translation. 

processed_data_df.loc[processed_data_df['income'] == 'Less than $10,000', 'income'] = 5000 
processed_data_df.loc[processed_data_df['income'] == '10,000 - $19,999', 'income'] = 15000
processed_data_df.loc[processed_data_df['income'] == '$10,000 to $24,999', 'income'] = 17500
processed_data_df.loc[processed_data_df['income'] == '20,000 - $29,999', 'income'] = 25000
processed_data_df.loc[processed_data_df['income'] == '$25,000 to $49,999', 'income'] = 37500
processed_data_df.loc[processed_data_df['income'] == '30,000 - $39,999', 'income'] = 35000
processed_data_df.loc[processed_data_df['income'] == '40,000 - $49,999', 'income'] = 45000
processed_data_df.loc[processed_data_df['income'] == '50,000 - $59,999', 'income'] = 55000
processed_data_df.loc[processed_data_df['income'] == '$50,000 to $74,999', 'income'] = 62500
processed_data_df.loc[processed_data_df['income'] == '60,000 - $69,999', 'income'] = 65000
processed_data_df.loc[processed_data_df['income'] == '70,000 - $79,999', 'income'] = 75000
processed_data_df.loc[processed_data_df['income'] == '$75,000 to $99,999', 'income'] = 87500
processed_data_df.loc[processed_data_df['income'] == '80,000 - $89,999', 'income'] = 85000
processed_data_df.loc[processed_data_df['income'] == '90,000 - $99,999', 'income'] = 95000
processed_data_df.loc[processed_data_df['income'] == '100,000 and up', 'income'] = 100000
processed_data_df.loc[processed_data_df['income'] == '$100,000 to $149,999', 'income'] = 125000 
processed_data_df.loc[processed_data_df['income'] == '$150,000 or more', 'income'] = 150000

processed_data_df.loc[processed_data_df['age'] == '18-21', 'age'] = 24
processed_data_df.loc[processed_data_df['age'] == '18-24', 'age'] = 21
processed_data_df.loc[processed_data_df['age'] == '22-25', 'age'] = 23.5
processed_data_df.loc[processed_data_df['age'] == '25-34', 'age'] = 29.5
processed_data_df.loc[processed_data_df['age'] == '26-30', 'age'] = 28
processed_data_df.loc[processed_data_df['age'] == '31-40', 'age'] = 35.5
processed_data_df.loc[processed_data_df['age'] == '35-44', 'age'] = 39.5
processed_data_df.loc[processed_data_df['age'] == '41-50', 'age'] = 46.5
processed_data_df.loc[processed_data_df['age'] == '45-54', 'age'] = 48
processed_data_df.loc[processed_data_df['age'] == '51-60', 'age'] = 55.5
processed_data_df.loc[processed_data_df['age'] == '55-64', 'age'] = 58
processed_data_df.loc[processed_data_df['age'] == '61+', 'age'] = 61
processed_data_df.loc[processed_data_df['age'] == '65-74', 'age'] = 69.5
processed_data_df.loc[processed_data_df['age'] == '75 or older', 'age'] = 75
processed_data_df.head()

In [ ]:
# To make sure all of your columns are stored as numbers, use the pd.to_numeric method like so.
processed_data_df = processed_data_df.apply(pd.to_numeric, errors='coerce')
# errors='coerce' will set things that can't be converted to numbers to NaN
# so you'll want to drop these like so.
processed_data_df = processed_data_df.dropna()
processed_data_df.head()

In [ ]:
# You can add a columns like so.
processed_data_df["happy_Y_N"] = "N"
processed_data_df["satisfied_Y_N"] = "N"
processed_data_df.head()

In [ ]:
# And then you can customize these new coulmns using the same method as above. 
processed_data_df.loc[processed_data_df['happy'] >= 5, 'happy_Y_N'] = "Y"
processed_data_df.loc[processed_data_df['satisfied'] >= 5, 'satisfied_Y_N'] = "Y"
processed_data_df.head()

In [ ]:
# I'm now going to make a set of tables to be used in training some models
# The first set will be for linear regressions where the traget is numeric.
# Happiness
happy_lin_df = processed_data_df[[
                               'happy', 
                               'age', 
                               'income'
                               ]].copy()
happy_lin_df.head()

In [ ]:
# Satisfaction
sat_lin_df = processed_data_df[[
                               'satisfied', 
                               'age', 
                               'income'
                               ]].copy()
sat_lin_df.head()

In [ ]:
# The second set will be for classifiers where the target is a class.
# Happiness
happy_class_df = processed_data_df[[
                               'happy_Y_N', 
                               'age', 
                               'income'
                               ]].copy()
happy_class_df.head()

In [ ]:
# Satisfaction
sat_class_df = processed_data_df[[
                               'satisfied_Y_N', 
                               'age', 
                               'income'
                               ]].copy()
sat_class_df.head()

## Taining and Validation

Above I created four datasets worth exploring: 
- **`happy_lin_df`**. The data needed to access *happiness* along a continuous variable.
- **`sat_lin_df`**. The data needed to access *satisfaction* along a continuous variable.
- **`happy_class_df`**. The data needed to access *happiness* as a categorical variable.
- **`sat_class_df`**. The data needed to access *satisfaction* as a categorical variable.

Let's take them each in turn.

## happy_lin_df

In [ ]:
data = happy_lin_df

data = data[data["happy"]<=10]

holdout = data.sample(frac=0.05)
training = data.loc[~data.index.isin(holdout.index)]

In [ ]:
sns.lmplot(x="age", y="happy", data=training, x_estimator=np.mean, order=1)

In [ ]:
sns.lmplot(x="income", y="happy", data=training, x_estimator=np.mean, order=1)

In [ ]:
model = ols("happy ~ age + income", training).fit()
#model = ols("happy ~ age + income + np.power(age, 2) + np.power(income, 2)", training).fit()
model.summary()

In [ ]:
# Rerun with SciKitLearn because it's easy to check accuracy
features_train = training.drop("happy", axis=1).as_matrix(columns=None)
labels_train = training["happy"].as_matrix(columns=None)

features_test = holdout.drop("happy", axis=1).as_matrix(columns=None)
labels_test = holdout["happy"].as_matrix(columns=None)

lm = linear_model.LinearRegression()
clf = lm.fit(features_train, labels_train)
pred = clf.predict(features_test)
accuracy = metrics.r2_score(labels_test, pred)
print("R squared:",lm.score(features_train,labels_train))
print("Accuracy:",accuracy)

## sat_lin_df

In [ ]:
data = sat_lin_df

data = data[data["satisfied"]<=10]

holdout = data.sample(frac=0.05)
training = data.loc[~data.index.isin(holdout.index)]

In [ ]:
sns.lmplot(x="age", y="satisfied", data=training, x_estimator=np.mean, order=1)

In [ ]:
sns.lmplot(x="income", y="satisfied", data=training, x_estimator=np.mean, order=1)

In [ ]:
model = ols("satisfied ~ age + income", training).fit()
model.summary()

In [ ]:
# Rerun with SciKitLearn because it's easy to check accuracy

features_train = training.drop("satisfied", axis=1).as_matrix(columns=None)
labels_train = training["satisfied"].as_matrix(columns=None)

features_test = holdout.drop("satisfied", axis=1).as_matrix(columns=None)
labels_test = holdout["satisfied"].as_matrix(columns=None)

lm = linear_model.LinearRegression()
clf = lm.fit(features_train, labels_train)
pred = clf.predict(features_test)
accuracy = metrics.r2_score(labels_test, pred)
print("R squared:",lm.score(features_train,labels_train))
print("Accuracy:",accuracy)

## happy_class_df

In [ ]:
data = happy_class_df
holdout = data.sample(frac=0.05)
training = data.loc[~data.index.isin(holdout.index)]

# Define the target (y) and feature(s) (X)
features_train = training.drop("happy_Y_N", axis=1).as_matrix(columns=None)
labels_train = training["happy_Y_N"].as_matrix(columns=None)

features_test = holdout.drop("happy_Y_N", axis=1).as_matrix(columns=None)
labels_test = holdout["happy_Y_N"].as_matrix(columns=None)

# What percentage of the time is target Y?
print("Percentage of Ys: %s\n"%(len(data[data["happy_Y_N"]=="Y"])/len(data)))

#### initial visualization
feature_1_no = [features_test[ii][0] for ii in range(0, len(features_test)) if labels_test[ii]=="N"]
feature_2_no = [features_test[ii][1] for ii in range(0, len(features_test)) if labels_test[ii]=="N"]
feature_1_yes = [features_test[ii][0] for ii in range(0, len(features_test)) if labels_test[ii]=="Y"]
feature_2_yes = [features_test[ii][1] for ii in range(0, len(features_test)) if labels_test[ii]=="Y"]
plt.scatter(feature_1_yes, feature_2_yes, color = "g", label="Happy")
plt.scatter(feature_1_no, feature_2_no, color = "r", label="Unhappy")
plt.legend()
plt.xlabel("age")
plt.ylabel("income")
plt.show()

In [ ]:
# Logistic Regression
model = LogisticRegression(fit_intercept = False, C = 1e9)
clf = model.fit(features_train, labels_train)
pred = clf.predict(features_test)
print("Logistic Regression")
evaluate(pred, labels_test)  
plot_bound("Y",holdout,1,2,0)


# Test some spot
x_test = 70
y_test = 160000
print("")
print(clf.predict([[x_test,y_test]])[0])
print(clf.predict_proba([[x_test,y_test]])[0][1])
print("")

from sklearn import tree
clf = tree.DecisionTreeClassifier(min_samples_split=40)
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)
print("\nDecision Tree")
evaluate(pred, labels_test)
plot_bound("Y",holdout,1,2,0)



from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)
print("Random Forest")
evaluate(pred, labels_test)  
plot_bound("Y",holdout,1,2,0)


from sklearn.svm import SVC
clf = SVC(kernel="rbf",probability=True)
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)
print("SVM")
evaluate(pred, labels_test)  
#plot_bound("Y",holdout,1,2,0) # plot doesn't work with SVM

## sat_class_df

In [ ]:
data = sat_class_df
holdout = data.sample(frac=0.05)
training = data.loc[~data.index.isin(holdout.index)]

# Define the target (y) and feature(s) (X)
features_train = training.drop("satisfied_Y_N", axis=1).as_matrix(columns=None)
labels_train = training["satisfied_Y_N"].as_matrix(columns=None)

features_test = holdout.drop("satisfied_Y_N", axis=1).as_matrix(columns=None)
labels_test = holdout["satisfied_Y_N"].as_matrix(columns=None)

# What percentage of the time is target Y?
print("Percentage of Ys: %s\n"%(len(data[data["satisfied_Y_N"]=="Y"])/len(data)))

#### initial visualization
feature_1_no = [features_test[ii][0] for ii in range(0, len(features_test)) if labels_test[ii]=="N"]
feature_2_no = [features_test[ii][1] for ii in range(0, len(features_test)) if labels_test[ii]=="N"]
feature_1_yes = [features_test[ii][0] for ii in range(0, len(features_test)) if labels_test[ii]=="Y"]
feature_2_yes = [features_test[ii][1] for ii in range(0, len(features_test)) if labels_test[ii]=="Y"]
plt.scatter(feature_1_yes, feature_2_yes, color = "g", label="Happy")
plt.scatter(feature_1_no, feature_2_no, color = "r", label="Unhappy")
plt.legend()
plt.xlabel("age")
plt.ylabel("income")
plt.show()

In [ ]:
# Logistic Regression
model = LogisticRegression(fit_intercept = False, C = 1e9)
clf = model.fit(features_train, labels_train)
pred = clf.predict(features_test)
print("Logistic Regression")
evaluate(pred, labels_test)  
plot_bound("Y",holdout,1,2,0)


# Test some spot
x_test = 70
y_test = 160000
print("")
print(clf.predict([[x_test,y_test]])[0])
print(clf.predict_proba([[x_test,y_test]])[0][1])
print("")

from sklearn import tree
clf = tree.DecisionTreeClassifier(min_samples_split=40)
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)
print("\nDecision Tree")
evaluate(pred, labels_test)
plot_bound("Y",holdout,1,2,0)



from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)
print("Random Forest")
evaluate(pred, labels_test)  
plot_bound("Y",holdout,1,2,0)


from sklearn.svm import SVC
clf = SVC(kernel="rbf",probability=True)
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)
print("SVM")
evaluate(pred, labels_test)  
#plot_bound("Y",holdout,1,2,0) # plot doesn't work with SVM